{% extends 'mailapp/base.html' %}
{% load static %}

{% block content %}
    <!-- connexion Section -->
    <section id="skills" class="content">
        <div class="form-section">
            <h2 class="myInfo-form-title">Formulaire</h2>
            <form action="#" method="POST" class="myInfo-form" id="form_list_skill">
                {% csrf_token %}
                {{form.skill}}
                <div class="myInfo-form-group">
                    <label for="libelle" class="myInfo-label">Libellé</label>
                    {{ form.libelle }}
                </div>
                <div class="myInfo-form-group">
                    <label for="pourcentage" class="myInfo-label">Pourcentage</label>
                    {{ form.pourcentage }}
                </div>
                <button id="boutonAction2" type="submit" class="myInfo-submit-button">Ajouter <i class="ri-add-circle-fill"></i></button>
                <button type="button" id="boutonAnnuler2" class="myInfo-submit-button annuler-button" style="display:none;">Annuler <i class="ri-close-circle-fill"></i></button>
            </form>
        </div>

        <div class="table-section">
            <h2 class="myInfo-form-title">Listes des téchnologie : {{skill.competence}} </h2>
            <a href="{% url 'skills' %}" class="action-btn" title="Retourner à la liste des compétences" style="margin-bottom: 5px;">
                <i class="ri-arrow-left-line"></i>
            </a>
            <table id="list_skill" class="skill-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Libellé</th>
                        <th>Pourcentage</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tec in list_skills %}
                        <tr data-id="{{tec.id}}">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ tec.libelle }}</td>
                            <td>{{ tec.pourcentage }}</td>
                            <td class="actions">
                                <a href="#" class="action-btn edit-btn" title="Modifier">
                                    <i class="ri-pencil-fill"></i>
                                </a>
                                <a data-url="{% url 'delete' 'list_skill' tec.id %}" data-message="cette téchnologie" class="action-btn delete-btn delete-confirme" title="Supprimer">
                                    <i class="ri-close-circle-line"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="no-data" style="text-align: center;">Aucune compétence trouvée.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <!-- Scroll to Top -->
    <a href="#skills" class="scroll-top">
        <i class="ri-arrow-up-line"></i>
    </a>
    <!-- Footer -->
    <footer>
        <div class="container footer-container">
            <a href="{% url 'index' %}" class="footer-logo">Jihrel<span>Dev</span></a>
            <div class="footer-social">
                {% include 'mailapp/social-link.html' %}
            </div>
            <div class="copyright">
                &copy; 2025 Gédéon Jihrel GANGOUE MBIMI. Tous droits réservés.
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // switch formulaire (Ajouter/Modifier)
            const tab = document.getElementById('list_skill');
            const form = document.getElementById('form_list_skill');
            const libelle = document.getElementById('libelle');
            const pourcentage = document.getElementById('pourcentage');
            const boutonAction2 = document.getElementById('boutonAction2');
            const actionAjouter2 = form.getAttribute('action'); // Garde l'action d'ajout de côté

            tab.addEventListener('click', function(event) {
            const lienClique = event.target.closest('a.edit-btn'); // Trouve le lien cliqué

            if (lienClique) {
                event.preventDefault(); // Empêche le lien de fonctionner normalement

                const ligne = lienClique.closest('tr'); // Trouve la ligne du lien
                const nomCol2 = ligne.querySelector('td:nth-child(2)').textContent.trim(); // Récupère le nom
                const nomCol3 = ligne.querySelector('td:nth-child(3)').textContent.trim(); // Récupère le nom
                // const id = ligne.querySelector('td:first-child').textContent.trim(); // Récupère l'id
                const id= ligne.getAttribute('data-id')

                libelle.value = nomCol2; // Met le nom dans le champ du formulaire
                pourcentage.value = nomCol3; // Met le nom dans le champ du formulaire
                // boutonAction2.textContent = 'Modifier <i class="ri-pencil-fill"></i>'; // Change le texte du bouton
                boutonAction2.innerHTML  = 'Modifier <i class="ri-pencil-fill"></i>'; // Change le texte du bouton
                form.setAttribute('action', '/modfifierTec/'+id); // Change l'action du formulaire
                boutonAnnuler2.style.display = 'inline-block'; // Affiche le bouton "Annuler"
            }
            });

            // Fonction pour réinitialiser le formulaire
            function resetFormulaire() {
                libelle.value = '';
                pourcentage.value = '';
                boutonAction2.innerHTML = 'Ajouter <i class="ri-add-circle-fill"></i>';
                form.setAttribute('action', actionAjouter2);
                boutonAnnuler2.style.display = 'none'; // Cache le bouton "Annuler"
            }

            // Écouteur d'événement pour le bouton "Annuler"
            boutonAnnuler2.addEventListener('click', resetFormulaire);
        });
    </script>
{% endblock content %}