{% extends 'mailapp/base.html' %}
{% load static %}

{% block content %}
    <!-- connexion Section -->
    <section id="skills" class="content">
        <div class="form-section">
            <h2 class="myInfo-form-title">Formulaire</h2>
            <form action="#" method="POST" class="myInfo-form" id="form">
                {% csrf_token %}
                {{ form.project }}
                <div class="myInfo-form-group">
                    <label for="technologie" class="myInfo-label">Compétence</label>
                    {{ form.technologie }}
                </div>
                <button id="boutonAction" type="submit" class="myInfo-submit-button">Ajouter <i class="ri-add-circle-fill"></i></button>
                <button type="button" id="boutonAnnuler" class="myInfo-submit-button annuler-button" style="display:none;">Annuler <i class="ri-close-circle-fill"></i></button>
            </form>
        </div>

        <div class="table-section">
            <h2 class="myInfo-form-title">Listes des technologie pour le projet : {{project.titre}} </h2>
            <a href="{% url 'ges_projects' %}" class="action-btn" title="Retourner vers la liste des projets" style="margin-bottom: 5px; margin-right: 10px;">
                <i class="ri-arrow-left-line"></i>
            </a>
            <table id="table" class="skill-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for technologie in technologies %}
                        <tr data-id="{{technologie.id}}">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ technologie.technologie.libelle }}</td>
                            <td class="actions">
                                <a href="#" class="action-btn edit-btn" title="Modifier">
                                    <i class="ri-pencil-fill"></i>
                                </a>
                                <a data-url="{% url 'delete' 'technologie' technologie.id %}" data-message="cette compétence" class="action-btn delete-btn delete-confirme" title="Supprimer">
                                    <i class="ri-close-circle-line"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3" class="no-data" style="text-align: center;">Aucune technologie trouvée.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <!-- Scroll to Top -->
    <a href="#skills" class="scroll-top">
        <i class="ri-arrow-up-line"></i>
    </a>
    <!-- Footer -->
    <footer>
        <div class="container footer-container">
            <a href="{% url 'index' %}" class="footer-logo">Jihrel<span>Dev</span></a>
            <div class="footer-social">
                {% include 'mailapp/social-link.html' %}
            </div>
            <div class="copyright">
                &copy; 2025 Gédéon Jihrel GANGOUE MBIMI. Tous droits réservés.
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const tableau = document.getElementById('table');
            const formulaire = document.getElementById('form');
            const technologie = document.getElementById('technologie'); // Sélection du champ select
            const boutonAction = document.getElementById('boutonAction');
            const boutonAnnuler = document.getElementById('boutonAnnuler');
            const actionAjouter = formulaire.getAttribute('action'); // Conserve l'URL d'ajout

            // Fonction pour remplir le formulaire avec les données de la ligne à modifier
            function remplirFormulaire(ligne) {
                const nomTech = ligne.querySelector('td:nth-child(2)').textContent.trim();
                const id = ligne.getAttribute('data-id');

                // Sélectionne l'option correspondante dans le champ select
                for (let i = 0; i < technologie.options.length; i++) {
                    if (technologie.options[i].textContent.trim() === nomTech) {
                        technologie.selectedIndex = i;
                        break;
                    }
                }

                boutonAction.innerHTML = 'Modifier <i class="ri-pencil-fill"></i>';
                formulaire.setAttribute('action', `/modifier_projet_tec/${id}`); // Utilisation de template literals pour plus de clarté
                boutonAnnuler.style.display = 'inline-block';
            }

            // Fonction pour réinitialiser le formulaire
            function resetFormulaire() {
                technologie.selectedIndex = 0; // Réinitialise la sélection du champ select
                boutonAction.innerHTML = 'Ajouter <i class="ri-add-circle-fill"></i>';
                formulaire.setAttribute('action', actionAjouter);
                boutonAnnuler.style.display = 'none';
            }

            // Gestion du clic sur le tableau pour l'édition
            tableau.addEventListener('click', function(event) {
                const lienClique = event.target.closest('a.edit-btn');

                if (lienClique) {
                    event.preventDefault();
                    const ligne = lienClique.closest('tr');
                    remplirFormulaire(ligne);
                }
            });

            // Gestion du clic sur le bouton "Annuler"
            boutonAnnuler.addEventListener('click', resetFormulaire);
        });
    </script>
{% endblock content %}