SECRET_KEY='votre_cle_secrete'
DEBUG=True
ALLOWED_HOSTS='localhost,127.0.0.1'
CORS_ALLOWED_ORIGINS='http://localhost:5173'
FRONTEND_URL='http://localhost:5173'
EMAIL_USER='votre_email@example.com'

# Remplacez ces valeurs par le résultat des commandes openssl générées dans votre terminal :
# oppenssl rand -base64 32
ADMIN_API_KEY='votre_cle_generee_ici'
PORTFOLIO_API_KEY='votre_cle_generee_ici'