# Pour le client (accessible dans le navigateur via import.meta.env.VITE_PUBLIC_API_URL)
VITE_PUBLIC_API_URL=http://localhost:8000/

VITE_PUBLIC_ADMIN_API_KEY='votre_cle_generee_ici_la_meme_que_dans_backend_env'