:root {
    --couleur-principale: #4a148c;  /* Violet foncé */
    --couleur-secondaire: #000000;  /* Noir */
    --couleur-texte: #ffffff;       /* Blanc */
    --couleur-texte-secondaire: #eeeeee; /* Gris clair */
    --couleur-fond-carte: rgba(255, 255, 255, 0.06); /* Blanc très transparent */
    --couleur-bordure-carte: rgba(255, 255, 255, 0.1);
    --couleur-ombre: rgba(0, 0, 0, 0.25);
    --couleur-input-fond: rgba(255, 255, 255, 0.08);
    --couleur-bordure-input: rgba(255, 255, 255, 0.15);
    --couleur-focus-input: rgba(129, 92, 199, 0.8);
    --couleur-bouton-debut: #8e24aa;
    --couleur-bouton-fin: #5e35b1;
    --couleur-bouton-hover-debut: #a00fc6;
    --couleur-bouton-hover-fin: #7e57c2;
    --couleur-bouton-actif-debut: #7b1fa2;
    --couleur-bouton-actif-fin: #4e34b2;
}

.connexion {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, var(--couleur-principale), var(--couleur-secondaire));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connexion-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin-top: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.connexion-card {
    background-color: var(--couleur-fond-carte);
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 12px 24px var(--couleur-ombre);
    backdrop-filter: blur(12px);
    text-align: center;
    color: var(--couleur-texte);
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--couleur-bordure-carte);
}

.connexion-title {
    margin-bottom: 30px;
    color: var(--couleur-texte);
    font-size: 28px;
    font-weight: 600;
}

.connexion-input-group {
    margin-bottom: 25px;
    text-align: left;
}

.connexion-label {
    display: block;
    margin-bottom: 8px;
    color: var(--couleur-texte-secondaire);
    font-size: 16px;
    font-weight: 400;
}


@media (max-width: 768px) {
    .connexion-container {
        padding: 15px;
    }

    .connexion-card {
        padding: 25px;
    }

    .connexion-title {
        font-size: 24px;
    }

    .connexion-input-group {
        margin-bottom: 20px;
    }
}