.content {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 70px;
    padding: 20px;
}

.form-section, .table-section {
    background-color: #141313;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Tableau */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid var(--primary);
    text-align: left;
}

table th {
    background-color: var(--primary);
}

/* Actions Buttons */
.actions {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    height: 100%;
}

.action-btn {
    text-decoration: none;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    background: var(--primary-light);
    color: var(--white);
}

.action-btn i {
    font-size: 1.2rem;
    transition: all 0.3s;
}

.add-btn {
    color: #ffffff;
}

.add-btn:hover {
    background: #097aaf;
    color: var(--white);
}

.view-btn {
    color: #e5ff00;
}

.view-btn:hover {
    background: #9eaf09;
    color: var(--white);
}

.edit-btn {
    color: #3df010;
}

.edit-btn:hover {
    background: #3df010;
    color: var(--white);
}

.delete-btn {
    color: #af0909;
}

.delete-btn:hover {
    background: #af0909;
    color: var(--white);
}

/* Responsive */
@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr; /* La mise en page devient une seule colonne sur mobile */
        margin-top: 100px;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-column);
        font-weight: bold;
    }

    .actions {
        height: auto;
    }

    .action-btn {
        width: 30px;
        height: 30px;
    }

    .action-btn i {
        font-size: 0.9rem;
    }
}

/* Modal */
.modal-overlay {
    display: none; /* Initialement caché */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond noir semi-transparent */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0; /* Pour l'effet de transition */
    transition: opacity 0.3s ease-in-out;
    overflow: auto;
}

.modal-overlay.open {
    display: flex;
    opacity: 1;
}

.modal {
    background-color: #000; /* Fond noir du modal */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 500px;
    transform: scale(0.8); /* Échelle initiale pour l'effet de zoom */
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column; /* Pour organiser l'en-tête et le corps en colonne */
    max-height: 90vh; /* Pour limiter la hauteur du modal et permettre le défilement interne */
    overflow: hidden; /*Important: Empêche le contenu dépassant de déborder*/
}

.modal-overlay.open .modal {
    transform: scale(1); /* Échelle finale */
}

.modal-header {
    background-color: var(--primary); /* En-tête violette */
    color: var(--white);
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.modal-title {
    margin: 0;
    font-size: 1.2em;
}

.close-button {
    background: none;
    border: none;
    color: var(--white);
    font-size: 1.5em;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
    color: var(--white);
    overflow-y: auto; /* Ajout crucial pour le défilement du contenu du modal */
    flex-grow: 1; /* Permet au corps de prendre l'espace restant */
}